body{
    margin : 0;
color: rgb(0, 0, 0);
background-color: #ffffff;
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
}
header h1 {
    margin: 0;
    color: rgb(255, 255, 255);
}
header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 1rem;
}
#hero {
   background-image:url(TRANS/fff.jpg);
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}
.ooffeerr{
    position: relative;
    bottom: 90px;
}
.ttrraannss{
    position: relative;
    top: 180px;
}
#hero h3{
    margin: 0;
    color: white;
}
#hero h2 {
    margin: 0;
    color: white;
}
#hero button {
    background-color:wheat;
    color:aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    text-decoration: none;
    cursor: pointer}
    section {
        padding: 2rem;
    }
section h2 {
    margin-top: 0;
}
footer {
    background-color:rgb(255, 255, 255);}
section-active {
    background-color: rgb(240, 0, 0);
}
@media (min-width: 576px) { 
    .landing__container {
    max-width: 550px;
    padding: 4em;
    } 
}
@media (min-width: 768px) { 
    .landing__container {
    max-width: 740px;
    padding: 4em;
    } 
}
@media (min-width: 992px) { 
    .landing__container {
    max-width: 950px;
    padding: 4em;
    } 
}
@media (min-width: 1200px) { 
    .landing__container {
    max-width: 1150px;
    padding: 4em;
    } 
}
@media (min-width: 1400px) { 
    .landing__container {
    max-width: 1350px;
    padding: 4em;
    }
}img{
    width: 200px;
    height: 200px;
}
   .hero{
    width: 100%;
    height: 100vh;
    background: #f1f9ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   }
   h1{
    font-size: 40px;
   }
   .fa-brands-fa-facebook{
              color: blue;
   }
table{
    width: 100%;
}
table td{
    padding: 15px;
}
.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button{
display: block;
width: 280px;
height: 80px;
line-height: 70px;
text-decoration: none;
text-align: center;
border-radius: 50px;
border:5px solid rgb(0, 0, 0);
color: rgb(255, 255, 255);
font-size: 20px;
font-family: arial;
position: relative;
bottom: 500px;
overflow: hidden;
background: transparent;
text-transform: uppercase;
transition: all .35s;
}
button::before,
button::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: rgb(0, 0, 0);
    z-index: -1;
    transition: all .35s;
}
h3{
    color: rgb(0, 0, 0);
    font-size: 32px;
}
.sec-div{
    font-size: 40px;
}
hr{
    border-style: none;
    border-top-style:dotted ;
    border-color: gray;
    border-width: 10px;
    width: 10%;
}
#about{
    position: relative;
}
#services{
    display: block;
    position: relative;
    bottom: 250px;
}
#transformations{
    display: block;
   position:relative ;
   bottom: 1600px;
}
.Cntact{
    position: relative;
    bottom: 10px;
}
.c{
    position: relative;
    bottom: 1400px;
}
.offer{
    position: ;
    top: 150px;
}